* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
#header-right > p {
  margin-right: 40px;
}
h1 {
  margin: 0px 350px;
  text-align: center;
}
button.redondo {
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0px 20px;
  height: 32px;
}
div#introduction {
  padding: 5em 10% 5em 10%;
  font-size: 0.9em;
}
div#introduction-actions {
  display: flex;
  justify-content: center;
}
div#header {
  margin-top: 15px;
  border-bottom: 1px solid gray;
  display: flex;
  padding: 10px 250px;
  justify-content: space-between;
  font-size: 0.85em;
}

div#impacto {
  margin: 0 auto;
  width: 100%;
  padding: 120px 25%;
  background-color: rgb(32, 27, 36);
  display: flex;
  gap: 40px;
}
.impacto-text {
  width: 50%;
}

.impacto-subtitle {
  font-size: 2em;
  font-weight: 500;
}

.impacto-parag {
  font-size: 1em;
  font-weight: 300;
}
#plus-sign {
  color: rgb(107, 83, 240);
}
.impacto-numbers {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  margin-top: 75px;
}

.text-color {
  color: white;
}

.impacto-container > .numbers-big {
  font-size: 50px;
  text-align: center;
  margin: 0;
}
.impacto-container > .numbers-text {
  font-size: 15px;
  text-align: center;
  margin: 0;
  color: rgb(140, 147, 156);
}
#foto {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/11/twp-home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-width: 0px;
  border-color: var(--awb-color3);
  border-style: solid;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

#programas,
#capacitaciones,
#equipo {
  width: 100%;
  padding: 0 17.5%;
  margin: 80px auto 40px auto;
}

#equipo {
  background-color: rgb(244, 244, 245);
}

#subtitle > h2 {
  font-size: 1.75em;
  font-weight: 500;
  padding: 20px 0;
}

.programas-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 auto;
  margin-bottom: 30px;
}
#programas-img1 {
  background-color: white;
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/11/xacademy-01-600x400.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border: 0px black solid;
  background-size: cover;
  height: 380px;
  width: 540px;
  border-radius: 0 6% 6% 6%;
}
.section-content-cont {
  width: 50%;
  padding-top: 100px;
  padding: 100px 5% 0 5%;
}
#xacademy-logo {
  background-color: white;
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/10/xacademy.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 240px;
  height: 47px;
}

.section-content-text {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
  width: 100%;
  line-height: 21px;
}
#programas-img2 {
  background-color: white;
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/11/robotica-educativa-07-600x400.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border: 0px black solid;
  background-size: cover;
  height: 380px;
  width: 540px;
  border-radius: 6% 6% 0 6%;
}

#programas-img3 {
  background-color: white;
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/11/estafas-virtuales-04-600x453.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border: 0px black solid;
  background-size: cover;
  height: 380px;
  width: 540px;
  border-radius: 0 6% 6% 6%;
}

#programas-img4 {
  background-color: white;
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/10/seguridad-informatica-para-infancias-600x398.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border: 0px black solid;
  background-size: cover;
  height: 380px;
  width: 540px;
  border-radius: 6% 6% 0 6%;
}

#equipo-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  grid-template-rows: 1fr 1fr;
}

.card-img {
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0px black solid;
  background-size: cover;
  height: 60%;
  width: 100%;
  min-width: 130px;
}
.card-img-1 {
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/10/twp-juan-400x296.png");
}

.card-img-2 {
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/10/twp-walter-400x296.png");
}

.card-img-3 {
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/10/twp-gabriela-400x296.png");
}

.card-img-4 {
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/10/twp-gabriel-400x296.png");
}

.card-img-5 {
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/10/twp-florencia-400x296.png");
}

.card-img-6 {
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/10/twp-celeste-400x296.png");
}

.card-img-7 {
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/10/twp-lucia-400x296.png");
}

.card-img-8 {
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2023/05/agustin-chino-400x296.png");
}
.card-img-9 {
  background-image: url("https://technologywithpurpose.org/wp-content/uploads/2023/05/enzo-dotto-400x296.png");
}

.card {
  border-radius: 7% 7% 7% 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.card-text-cont {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-in {
  width: 60%;
  height: 60%;
  padding-top: 20%;
  margin: auto;
}

.logo-in-border {
  width: 25px;
  height: 25px;
  border: 1px black solid;
  border-radius: 100%;
}

.card-ocupacion {
  font-size: 12px;
}

.card-ocupacion p {
  margin: 0;
  margin: 5px 0;
  color: rgb(140, 147, 156);
}

.card-name > h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
